<h1>Admin locations</h1>

<p><a href="/admin/locations/new">New</a></p>

<p>
  <% locations.each do |location| %>
    <%= location.id %><br/>
    <%= location.name %><br/>
    <%= location.hours1 %><br/>
    <%= location.hours2 %><br/>
    <%= location.area %><br/>
    <%= location.address %><br/>
    <%= location.city_state_zip %><br/>
    <%= location.phone_number %><br/>
    <%= location.twitter_link %><br/>
    <a href="/admin/locations/<%= location.id %>/edit">Edit</a>
    <form action="/admin/locations/<%= location.id %>" method="POST" style="display: inline">
      <input name="_method" type="hidden" value="DELETE">
      <input type='submit' value="delete" onclick="return confirm('are you sure?')"/>
    </form>
    <br/>
  <% end %>
</p>
