<h1>Admin locations</h1>

 <!-- <ul>
  <li>
    <form>
    <p>Title: </p>
    <p>Address:  </p>
    <p>Hours:  <br /></p>
    <a href="locations/edit" %>Edit</a>
      <input type="hidden" name="_method" value="DELETE">
      <input type='submit' value="delete"/>
    </form>
  </li>
</ul> -->
<a href="/admin/locations/new">New</a>

<p>
  <% locations.each do |location| %>
    <%= location.id %><br/>
    <%= location.name %><br/>
    <%= location.hours1 %><br/>
    <%= location.hours2 %><br/>
    <%= location.area %><br/>
    <%= location.address %><br/>
    <%= location.city_state_zip %><br/>
    <%= location.phone_number %><br/>
    <%= location.twitter_link %><br/>
    <a href="/admin/locations/<%= location.id %>/edit">Edit</a>
    <form action="/admin/locations/<%= location.id %>" method="POST" style="display: inline">
      <input name="_method" type="hidden" value="DELETE">
      <input type='submit' value="delete"/>
    </form>
    <br/>
  <% end %>
</p>
